*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

button {
  font-family: "Montserrat", sans-serif;
}

i {
  pointer-events: none;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(31, 33, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  text-align: center;
  cursor: pointer;
}

#mock-brand-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

#test-brand-name {
  font-size: 1.5rem;
  color: rgb(175, 0, 0);
  font-weight: 500;
}

#test-brand-name::after {
  content: "|";
  margin-left: 10px;
}

.beginning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.beginning.hide,
.container.hide,
.control-buttons.hide,
.next-btn.hide,
.submit-btn.hide {
  pointer-events: none;
  display: none;
}

.start-btn,
.history-btn {
  padding: 20px 55px;
  font-size: 1.75rem;
  border-radius: 12.5px;
  outline: none;
  cursor: pointer;
  background: rgb(31, 33, 63);
  border: none;
  color: white;
  /* margin-right: 0.75em; */
}

.start-btn:hover,
.history-btn:hover {
  color: rgb(31, 33, 63);
  background: white;
  border: 1px solid black;
}

.container {
  width: 70%;
  max-width: 900px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.question-box .question {
  display: flex;
}

.question-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.question-img {
  max-width: 200px;
  max-height: 200px;
}

.question-number {
  font-weight: 600;
  min-width: 35px;
  padding: 1px 0;
  background: rgb(59, 59, 59);
  color: white;
  text-align: center;
  margin-top: -1px;
  margin-right: 6px;
}

.answer-buttons {
  margin-top: 2em;
  background-color: rgb(230, 230, 230);
  padding: 0em 1em;
}

.row {
  width: 100%;
  max-width: 800px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  display: flex;
  margin-left: 3em;
  align-items: center;
}

.row label {
  margin-left: 1em;
}

.control-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons button {
  outline: none;
  border: none;
  background: white;
  color: rgb(39, 39, 39);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.control-buttons button:hover {
  background: rgb(212, 212, 212);
  color: black;
}

#current-question {
  color: white;
  font-weight: 600;
  margin-left: 1.25em;
  margin-right: 1.25em;
  font-size: 1.5rem;
  cursor: pointer;
}

.small-window {
  position: absolute;
  width: 400px;
  height: 300px;
  background: rgb(31, 31, 31);
  transition: transform 0.5s ease;
  pointer-events: none;
  opacity: 0;
}

.small-window.active {
  transform: translateY(-180px);
  pointer-events: all;
  opacity: 1;
}

.question-boxes {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.section {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 1em;
  border: 2px solid rgb(63, 63, 63);
  color: rgb(148, 148, 148);
  cursor: pointer;
}

.section:hover {
  color: rgb(63, 63, 63);
  background: rgb(231, 231, 231);
  border: none;
}

@media screen and (max-width: 1100px) {
  .row {
    margin-left: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  .question-img {
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
  .question-img {
    max-width: 130px;
    max-height: 130px;
  }
  .beginning {
    flex-direction: column;
  }
  .history-btn {
    margin-top: 1.25em;
  }
  .row {
    margin-left: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .row label {
    margin-left: 0.5em;
  }
  .container {
    width: 100%;
  }
  .row label {
    font-size: 0.95rem;
  }
}
