*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}

button {
  font-family: "Montserrat", sans-serif;
}

i {
  pointer-events: none;
}

.nav {
  display: flex;
  align-items: center;
  min-height: 7vh;
  width: 100%;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.brand-name {
  text-align: center;
  cursor: pointer;
}

#mock-brand-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

#test-brand-name {
  font-size: 1.5rem;
  color: rgb(175, 0, 0);
  font-weight: 500;
}

#test-brand-name::after {
  content: "|";
  margin-left: 10px;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  color: rgb(235, 0, 0);
}

.burger div {
  width: 24px;
  height: 2.8px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

.nav-links.active {
  transform: translateX(0%);
}

@keyframes navLink {
  form {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.onClicked .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.onClicked .line2 {
  opacity: 0;
}

.onClicked .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.overlay-image {
  height: 93vh;
  width: 100%;
  position: relative;
}

.overlay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay-image h2 {
  color: white;
  text-align: center;
}

.explore {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(54, 54, 54);
  background: rgb(248, 248, 54);
  margin-top: 15px;
  font-weight: bold;
}

.explore:hover {
  background: rgb(216, 216, 52);
  color: black;
}

.overlay-image::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.main {
  max-width: 1200px;
  min-height: 10em;
  margin: 4em auto;
}

.information {
  display: flex;
  flex-direction: column;
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item1 .vehicles {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item1 .vehicles i {
  font-size: 8rem;
  color: rgb(31, 33, 63);
}

.support-vehicles {
  font-size: 1.9rem;
  font-weight: 600;
  margin-top: 0.65em;
  position: relative;
}

.support-vehicles::before {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0px;
  width: 14em;
  height: 0.12em;
  background: black;
  z-index: -1;
}

.vehicles-desc {
  width: 70%;
  text-align: center;
  font-weight: normal;
}

.item2 div {
  display: flex;
}

.table {
  margin: 5em 0em;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table img {
  width: 200px;
  margin: 0em 3em 0em 0em;
}

.table h3 {
  font-size: 1.75rem;
}

.footer {
  background-color: black;
  min-height: 200px;
  width: 100%;
  color: rgba(255, 255, 255, 0.904);
}

.footer .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.top .col1 {
  width: 50%;
}

.top .col2 {
  width: 25%;
}

.col1 p {
  margin-top: 0.15em;
  opacity: 0.65;
  font-size: 0.95rem;
}

.col2 ul {
  list-style: none;
  margin-top: 0.15em;
}

.col2 ul a {
  color: white;
  text-decoration: none;
  opacity: 0.65;
  font-size: 0.95rem;
}

.col2 ul a:hover {
  color: red;
}

.bottom {
  width: 100%;
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

.icons button {
  padding: 13px 15px;
  font-size: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background: rgb(51, 51, 51);
  color: white;
  margin-right: 15px;
  margin-bottom: 30px;
  outline: none;
}

.icons button:hover {
  background: white;
  color: rgb(51, 51, 51);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .item1 .vehicles i {
    font-size: 6rem;
  }
  .support-vehicles {
    font-size: 1.6rem;
  }
  .vehicles-desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 770px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 7vh;
    background: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .nav-links a {
    color: white;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .item1 .vehicles i {
    font-size: 5rem;
  }
  .support-vehicles {
    font-size: 1.5rem;
    text-align: center;
  }
  .vehicles-desc {
    font-size: 0.95rem;
  }
  .table h3 {
    font-size: 1.45rem;
  }
  .col1 p,
  .col2 ul a {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 651px) {
  .item1 .vehicles i {
    font-size: 3rem;
  }
  .support-vehicles {
    font-size: 1.125rem;
    text-align: center;
  }
  .support-vehicles::before {
    display: none;
  }
  .vehicles-desc {
    font-size: 0.8rem;
  }
  .table h3 {
    font-size: 1.125rem;
  }
  .table img {
    width: 140px;
    margin: 0em 1.75em 0em 0em;
  }
  .table p {
    font-size: 0.8rem;
  }
  .col1 p,
  .col2 ul a {
    font-size: 0.7rem;
  }
}
